# New Rows

## Import Libs

In [43]:
import pandas as pd
import uuid as uid
from pandasql import sqldf

In [106]:
pysqldf = lambda q: sqldf(q, globals())

## Read Files

In [66]:
df = pd.read_json('raw_zone/pessoas.json')

In [70]:
df.tail()

,person_code,person_name,person_social_name,gender_code,gender,marital_status,marital_status_description,foreign_personal_document,personal_document,birth_date,...,first_driver_license_number,reserve_number_for_future_expenditures,social_security,national_person_identity,professional_qualification,professional_qualification_code,professional_qualification_description,person_sap_code,extraction_date,processing_status
6,7,RAFAEL SANTOS LORENZI,RAFAEL,M,MASCULINO,2,CASADO,NaN,83882022,1981-06-10T00:00:00.000Z,...,1900-12-31T00:00:00.000Z,,,,,NaN,NaN,102843,2023-01-11T17:31:58.063Z,0
7,8,JOAO RAFAEL DE SOUZA VERONEZI FERRAO,JOAO,M,MASCULINO,1,SOLTEIRO,NaN,112924158,1986-09-17T00:00:00.000Z,...,1900-12-31T00:00:00.000Z,,,,,NaN,NaN,103627,2023-01-11T17:31:58.063Z,0
8,9,HELIO REIS GUIMARAES,HELIO,M,MASCULINO,1,SOLTEIRO,NaN,184111269,1990-11-10T00:00:00.000Z,...,1900-12-31T00:00:00.000Z,,,,,NaN,NaN,103561,2023-01-11T17:31:58.063Z,0
9,10,FELIPE 01,FELIPE 01,M,MASCULINO,1,SOLTEIRO,NaN,186559127,1995-01-29T00:00:00.000Z,...,1900-12-31T00:00:00.000Z,,,,,NaN,NaN,103122,2023-01-11T17:31:58.063Z,0
10,11,LUCIANO 01,LUCIANO 01,M,MASCULINO,1,CASADO,NaN,66830664004,1995-01-29T00:00:00.000Z,...,1900-12-31T00:00:00.000Z,,,,,NaN,NaN,103122,2023-01-11T17:31:58.063Z,0

## Generated Uuid

In [39]:
df['uuid'] = [str(uid.uuid4()) for _ in range(len(df.index))]

In [40]:
df

,person_code,person_name,person_social_name,gender_code,gender,marital_status,marital_status_description,foreign_personal_document,personal_document,birth_date,...,reserve_number_for_future_expenditures,social_security,national_person_identity,professional_qualification,professional_qualification_code,professional_qualification_description,person_sap_code,extraction_date,processing_status,uuid
0,1,RICARDO MONTEIRO,RICARDO,M,MASCULINO,2,CASADO,NaN,9328173,1983-02-15T00:00:00.000Z,...,,,,,NaN,NaN,102744,2023-01-11T17:31:58.063Z,0,2c82f9fd-b498-4a2d-9660-c2d2cd900048
1,2,GUSTAVO GAIESKI LEHMANN DA SILVA,GUSTAVO,M,MASCULINO,2,CASADO,NaN,11560711,1977-04-20T00:00:00.000Z,...,,,,,NaN,NaN,103323,2023-01-11T17:31:58.063Z,0,a4e7eaa0-9124-4c2c-a972-6b75db327720
2,3,ERNESTO LUIS DE ALMEIDA TEIXEIRA,ERNESTO,M,MASCULINO,1,SOLTEIRO,NaN,26983745,1968-04-27T00:00:00.000Z,...,,,,,NaN,NaN,103443,2023-01-11T17:31:58.063Z,0,d7f3374e-fc74-451d-8374-724e32ecbf31
3,4,ROBERTO LELLIS CERTO,ROBERTO,M,MASCULINO,1,SOLTEIRO,NaN,29540011,1982-09-30T00:00:00.000Z,...,,,,,NaN,NaN,102413,2023-01-11T17:31:58.063Z,0,0a4f9356-13ab-4487-b1d9-229dbebf4276
4,4,ROBERTO LELLIS CERTO,ROBERTO,M,MASCULINO,1,SOLTEIRO,NaN,29540011,1982-09-30T00:00:00.000Z,...,,,,,NaN,NaN,102413,2023-01-11T17:31:58.063Z,0,0c451cb9-e08c-4504-91c6-395c207035df
5,6,FABIO MAGAGNIN,FABIO #,M,MASCULINO,2,CASADO,NaN,58117083,1982-04-27T00:00:00.000Z,...,,,,,NaN,NaN,187436,2023-01-11T17:31:58.063Z,0,9fe32db3-51b0-41e9-a93e-7ed7417bd97a
6,7,RAFAEL SANTOS LORENZI,RAFAEL,M,MASCULINO,2,CASADO,NaN,83882022,1981-06-10T00:00:00.000Z,...,,,,,NaN,NaN,102843,2023-01-11T17:31:58.063Z,0,588329ff-8891-4bd9-8bcc-e445531da272
7,8,JOAO RAFAEL DE SOUZA VERONEZI FERRAO,JOAO,M,MASCULINO,1,SOLTEIRO,NaN,112924158,1986-09-17T00:00:00.000Z,...,,,,,NaN,NaN,103627,2023-01-11T17:31:58.063Z,0,25c6f393-aff5-4498-929e-bd1d67ba49ad
8,9,HELIO REIS GUIMARAES,HELIO,M,MASCULINO,1,SOLTEIRO,NaN,184111269,1990-11-10T00:00:00.000Z,...,,,,,NaN,NaN,103561,2023-01-11T17:31:58.063Z,0,534f9535-36d4-42cb-b0e1-c0459b2353ca
9,10,FELIPE 01,FELIPE 01,M,MASCULINO,1,SOLTEIRO,NaN,186559127,1995-01-29T00:00:00.000Z,...,,,,,NaN,NaN,103122,2023-01-11T17:31:58.063Z,0,a9c718c5-2a74-4c40-a478-93ad48fec08d

In [41]:
df = df.astype("object")

## Export To Parquet

In [ ]:
df.to_parquet('standar_zone/pessoas.parquet')

In [44]:
df_delta = pd.read_parquet('standar_zone/pessoas.parquet')

In [45]:
df_delta.to_parquet('standar_zone/pessoas_delta.parquet')

## PandasQL

In [105]:
sql = """
    select 
         d.person_code
        ,d.person_name
        ,d.person_social_name
    FROM df d
    EXCEPT
    select 
         dd.person_code
        ,dd.person_name
        ,dd.person_social_name
    FROM df_delta dd
    """

In [107]:
df_incremental = pysqldf(sql)

In [108]:
df_incremental

   person_code person_name person_social_name
0           11  LUCIANO 01         LUCIANO 01

In [109]:
df_incremental['uuid'] = [str(uid.uuid4()) for _ in range(len(df_incremental.index))]

In [110]:
df_incremental

,person_code,person_name,person_social_name,uuid
0,11,LUCIANO 01,LUCIANO 01,c93e8327-0361-4387-bf1e-c07967c217d8

In [ ]:
df_join = """
    select 
         d.person_code
        ,d.person_name
        ,d.person_social_name
        ,d.uuid
    FROM df d
    UNION ALL
    select 
         i.person_code
        ,i.person_name
        ,i.person_social_name
        ,uuid
    FROM df_incremental i
    """